/* register page styles start */
.register {
  margin-top: 30px;
}
/* register page styles end */

/* login page styles start */
.login {
  margin-top: 30px;
}
/* login page styles end */

/* dashboard page styles start */
.card-margins {
margin-bottom: 10px;
}

/* comman styles start */
.error-message {
  color: #d51717;
  font-weight: bold;
  font-size: 14px;
}
.page-headings {
  text-align: center;
}
.container h1 ,
.container .header a,  
.container .header form {
   margin: 1.5rem 0;
}
/* comman styles end */

/* navigation bar styles start */
.nav-link{
border-radius: 0.25rem;
}
.nav-link:hover{
color : #fff;
background-color: #e7e7e7;
}
.nav-item button {
border-width: 0.125rem;
font-weight: 600;
}
/* navigation bar styles end */

/* home styles start */
.home{
  margin: 8rem 0;
}
/* home styles end */