$page-margin : 5rem 0;
$hero-margin : 9rem 0;
$color-hover : #d0d0d0;
$swagger: #85ea2d;

.container {

    h1 {
        margin: 1.5rem 0;
    } 
    
    .header {
        a, 
        form {
            margin: 1.5rem 0;
        }
    }
}

.login, 
.register{
    margin: $page-margin;
}

.home {
    margin: $hero-margin;
}


.nav-item {

    .nav-link{
    
        &:hover {
            background-color: $color-hover;
        }
    
    }

}

.bg-swagger {

    background-color: $swagger;

    &:hover {
        background-color: darken($swagger, 10%);
    }
}